body{
    display:flex;
    flex-direction:column;
    width:100vw;
    height:80vh;
    align-items:center;
    justify-content:center;
  }
  
  .btn{
    height:50px;
    width:50px;
    margin:10px;
    font-size:25px;
  }
  
  .number,
  .decimal{
    border:1px solid #79E0EE;
    border-radius:10px;
  }
  
  .number:hover{
      background-color:#79E0EE;
  }
  .decimal:hover{
      background-color:#79E0EE;
  }
  
  .operator{
    border:1px solid #98EECC;
    border-radius:10px;
  }
  .operator:hover{
      background-color:#98EECC;
  }
  
  .equal,
  .clear{
    border:1px solid #D0F5BE;
    border-radius:10px;
  }
  
  .equal:hover{
      background-color:#D0F5BE;
  }
  .clear:hover{
      background-color:#D0F5BE;
  }
  
  .screen{
    width:210px;
    height:50px;
    border-radius:10px;
    border:1px solid green;
    margin:10px;
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
    align-items:flex-end;
  }
  
  .first-row{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:row;
  }
  
  .previousScreen{
    font-size:15px;
  }
  
  .currentScreen{
    font-size:25px;
  }